<div ng-show="showTopbar" class="top-bar row header">
  <div style="padding-left:15px">
  	<div class="user pull-right" ng-show="notes">
      <div class="item dropdown" ng-click="showNotesPane()">
       <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list" style="color: #FFF"></i>
          <i id="notesbookPulloutWelcome" class="fa fa-list" style="color: #FFF" ng-if="showWelcome"></i>
        </a>
      </div>
    </div>
  	<i class="fa fa-bars top-bar-item clickable" ng-click="toggleSidebar()"></i>
  	<span class="top-bar-item">Sprox</span>
  </div>
</div>
<div class="notes">
	<div id="deleteModel" class="modal fade" tabindex="-1" role="dialog" show-model="noteDelete != null">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Delete {{ deleteItemTitle }}?</h4>
	            </div>

	            <div class="modal-body">
	                <p>It&#39;ll be gone forever (a really long time).</p>
	            </div> 

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" ng-click="noDeleteItem();">Cancel</button> 
	                <button type="button" class="btn btn-primary" ng-click="deleteItem();">Delete</button>
	            </div>
	        </div>
    	</div>
	</div>

	<div id="deleteModel" class="modal fade" tabindex="-1" role="dialog" show-model="noteShare != null">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Share {{ noteShare }}</h4>
	            </div>

	            <div class="modal-body">
                    <div class="form-group">
        		    	<input type="text" class="form-control floating-label" id="share-user" placeholder="NetID" material-input ng-model="shareForm.netid">
        	   		</div>
	            </div> 

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" ng-click="noShareItem();">Cancel</button> 
	                <button type="button" class="btn btn-primary" ng-click="shareItem();">Share</button>
	            </div>
	        </div>
    	</div>
	</div>

	<div id="notesWriter">
		<textarea ckeditor="editorOptions" ckreadonly="true" ng-model="editorContent"></textarea>
	</div>
</div>