<div class="schedule">
	<div class="row">
		<div class="panel panel-material-light-blue schedulebackground col-centered">
			<div class="panel-heading">
					<div><span><i class="fa fa-calendar-o"></i></span> Weekly Schedule</div>
			</div>
			<div class="panel-body col-centered col-md-12">
				<!-- Time Bars -->
				<div style="top: 70px;" class="timebar"> </div>
				<div style="top: 130px;" class="timebar"> </div>
				<div style="top: 190px;" class="timebar"> </div>
				<div style="top: 250px;" class="timebar"> </div>
				<div style="top: 310px;" class="timebar"> </div>
				<div style="top: 370px;" class="timebar"> </div>
				<div style="top: 430px;" class="timebar"> </div>
				<div style="top: 490px;" class="timebar"> </div>
				<div style="top: 550px;" class="timebar"> </div>
				<div style="top: 610px;" class="timebar"> </div>
				<div style="top: 670px;" class="timebar"> </div>

				<div class="scheduleSpacer"></div>
				<div class="center-block col-md-1">
					<div style="margin-top:45px;"></div>
					<div ng-repeat="time in times" class="timeName">
						<div>{{time}}</div>
					</div>
				</div>
				<div ng-repeat="sDay in weeklySchedule | filter:daysofweek" ng-class="{scheduleBorderFirst: $first,scheduleBorder:!$first}" class=" center-block col-md-2">
					<div class="dayName">{{sDay.name}}</div>
					<div ng-repeat="class in sDay.classes"> 
						<div class="time-block-15" style="height: {{ class.freeTime }};"></div>
						<div class="scheduleClass shadow-z-1" style="height: {{ class.classDuration }}; background: {{ colors[class.classID] }};"> 
							<div class="scheduleClassTime"> {{ class.time }}</div> 
							<div class="scheduleClassName">{{ class.name }}</div>
							<div class="scheduleClasslocation">{{ class.location }}</div>
						</div>
					</div>
					<div class="time-block-15" style="height: {{ sDay.endTimePadding }};"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="panel panel-material-light-blue" edgeless-panel="">
				<div class="panel-heading">
					<div>Finals</div>
				</div>
				<div class="panel-body">
					<div class="col-md-2 scheduleFinal" ng-repeat="class in finals">
						<div>{{ class.name }} </div>
						<div>{{ class.day }}. {{ class.time }}</div>
						<div class="scheduleClassLocation">{{ class.location }}</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
