<div>
	<div id="cacheModel" class="modal fade" tabindex="-1" role="dialog" show-model="cacheModel">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Allow Data Caching?</h4>
	            </div>

	            <div class="modal-body">
	                <p>If you don't like waiting, Sprox can cache some of your information so we don't have to ask Spire for it each time. Your data is encrypted using AES-256.</p>
	            </div>

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="cacheModel" ng-click="noCache();">No Thanks</button>
	                <button type="button" class="btn btn-primary" ng-click="cache();">Allow</button>
	            </div>
	        </div>
    	</div>
	</div>

	<div id="notifModel" class="modal fade" tabindex="-1" role="dialog" show-model="notifModel">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="notifModel" aria-hidden="true">×</button>
	                <h4 class="modal-title">Desktop Notifications</h4>
	            </div>

	            <div class="modal-body">
	                <p>As you go through your day, Sprox can send you desktop notifications for changing classes. Sprox will only send one notificaton, 15 minutes prior to each class. Would you like Sprox to send these notifcations?</p>
	            </div>

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="notifModel">No Thanks</button>
	                <button type="button" class="btn btn-primary" ng-click="enableNotifs();">Sure</button>
	            </div>
	        </div>
    	</div>
	</div>

<div class="container">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="panel panel-material-light-green" edgeless-panel>
				<div class="panel-heading">
				    Student Information
				    <br> 
				    <div class="scPanelHeaderSubText">Graduating in {{ gradYear }}</div>
				</div>

				<div class="panel-body">
					<div class="subTitle">Home Address</div>
					<div class="scPanelSubText">{{ homeAddress[0] }} <br> {{ homeAddress[1] }}</div>
					<br>
					<div class="subTitle">School Address</div>
					<div class="scPanelSubText">{{ schoolAddress[0] }}<br>{{ schoolAddress[1] }}<br>{{ schoolAddress[2] }}</div>
					<br>
					<div class="subTitle">Mail Box Combination</div>
					<div class="scPanelSubText">{{ mailBox }}</div>
				</div>
			</div>
		</div>
	
		<div class="col-md-12">
			<div class="panel panel-material-light-green" edgeless-panel>
				<div class="panel-heading">
				    Housing at {{ building }}
				    <br>
				    <div class="scPanelHeaderSubText">Room {{ roomNumber }} - {{ roomType }}</div>
				</div>
				
				<div class="panel-body">
					<div class="subTitle">Roomate</div>
					<div class="scPanelSubText">{{ roomate }}</div>
					<div class="scPanelSubText">{{ roomateEmail }}</div>
					<br>
					<div class="subTitle">Roomate Address</div>
					<div class="scPanelSubText">{{ roomateAddress }}</div>
					<div class="scPanelSubText">{{ roomateCity }}, {{ roomateState }} {{ roomateZip }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-material-cyan" edgeless-panel>
			<div class="panel-heading">
			    <div class="dayTitle">{{ classesDay }} Classes</div>
			</div>
			
			<div class="panel-body">
				<div class="row" ng-repeat="class in ct">
					<div class="col-md-12">
						<div class="{{ class.type }}">
							{{ class.name }}
							<br> 
							<b>{{ class.time }}</b>
							<br>
						<div>{{ class.location }}</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
</div>