<title>Sprox Login</title>
<div class="login"><br>
	<div id="loginBoxContainer">
		<div id="loginBox"></div>
		<div id="loginBoxIcon"></div>
		<div id="loginBoxSubtext"><b>Welcome</b> to<br> Sprox</div>
		<div id="loginBoxCorner"></div>

		<div id="loginBoxForm">
			<center>
				<form>
					<input type="text" name="username" placeholder="NetID" id="username" ng-model="netid"/><br><br>
					<input type="password" name="password" placeholder="Password" id="password" ng-keyup="$event.keyCode == 13 && login()" ng-model="pass"/>
				</form>
				<div id="loginButton" ng-click="login()">{{ loginStatus }}</div>
				<canvas id="loginProgress" width="350" height="300" ng-show="loading" loginanimation></canvas>
			</center>
		</div>
	<div id="slide-in" class="am-fade-and-slide-left" ng-show="showLegal">
	<div id="build">Sprox build {{ build }}</div>
	<div id="disclaimer">Sprox has absolutely no association with Spire or the University of Massachusetts Amherst.</div>
	</div>
	</div>
</div>