@import "frontend/style/partials/colors";

$padding-logo: 5px;
$theme-dropdown-padding: 3px 20px;

body {
  background-color: $background-color;
  background-image: url(../src/squares.png);
}

@media screen and (max-width:1199px){
	#sproxLogo{
		margin-right: $padding-logo;
		margin-left: $padding-logo;
		padding-top: $padding-logo;
		height: 50px;
		width: 40px;
	}
}

@media screen and (min-width:1200px){
	#sproxLogo{
		margin-left: $padding-logo;
		padding-top: $padding-logo*2;
		height: 50px;
		width: 40px;
	}
}

#userStatusRow {
	padding: $theme-dropdown-padding;
	white-space: nowrap;
}

#logout {
	padding: $theme-dropdown-padding;
	cursor: pointer;
	color: #333;
}

#logout:hover {
	color: #009587;
}

.umSub {
	color: #333;
	font-size: 10px;
	display: inline-block;
    vertical-align: top;
}