body{
  background-color: #3D3D3D;
  background-image: url(../src/squares.png);
  overflow: hidden;
}

#topbar {
  background-color: #ecf0f1;
	position: fixed;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);

	width: 100%;
	height: 45px;
	
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
}

#studentName {
  float: right;
	text-align: right;
	font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 15px;
  color: #666;
  padding-top: 13px;
  padding-right: 38px;
}

#gear {
  position: absolute;
  background-size: cover;
  -webkit-background-size: cover;
  width: 25px;
  height: 25px;
  right: 7px;
  bottom: 10px;
  opacity: 0.75;
  background-image: url("../src/gear.png")
}

#gear:hover {
  opacity: 1;
}

#spireId {
	text-align: right;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #666;
  padding-right: 10px;
}

#icon {
	background-image: url("../src/icon.png");
	background-size: cover;
	-webkit-background-size: cover;
	left: 7px;
	top: 4px;
	width: 35px;
	height: 35px;
	position: absolute;
}

#major {
  position: absolute;
  right: 0px;
  top: 45px;
  background-color: #ecf0f1;
  text-align: right;
  border-bottom-left-radius: 4px;
  padding: 10px;
  box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24);
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 13px;
  z-index: 4;
}

.tab {
  float: left;
  height: 20px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 13px;
  position: relative;

  z-index: 4;
  padding-left: 3px;
  padding-right: 10px;
  padding-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 9px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tabLast {
  border: none;
}

.tabBox {
  float: left;
  height: 45px;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.tabBox:hover {
  background-color: #D2D2D2;
}

#tabs {
  left: 45px;
  position: absolute;
}

.tabHolder {
  float: left;
}

#tabSelectBar {
  width: 86px;
  height: 2px;
  top: 35px;
  left: 45px;
  z-index: 5;
  position: absolute;
  background-color: #FFC107;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}

#userMenu {
  float: right;
  height: 110px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  top: 35px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 13px;
  background-color: #ecf0f1;
  position: relative;
  box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24);
  width: 170px;
  z-index: 7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-right: -3px;
  margin-left: 5px;

  -webkit-transition: padding-top 0.25s;
  -moz-transition: padding-top 0.25s;
  transition: padding-top 0.25s;
}

#fname {
  font-size: 16px;
  font-size: .8vw;
  right: 0;
  float: right;
  display: inline;
  width: 121;
}
#borderAvatar{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100%;
}

.avatar{
    right: -12px;
    top: 0;
    position: relative;
    float: left;
}

.umSub {
  font-size: 10px;
  font-size: 0.50vw;
  color: #666;
  float: right;
  display: inline;
  width:120;
}

.menuButton {
  font-size: 12px;
  cursor: pointer;
}

.view {
  position: absolute;
  right: 0;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* BASE STYLES
============================================================================= */
.page        { 
  position: absolute;
  right: 0;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

/* PAGES
============================================================================= */

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */



/* about ------------------------ */
.page-left.ng-leave        {
    -webkit-animation:slideOutLeft 1s both ease-in;
  -moz-animation:slideOutLeft 1s both ease-in;
  animation:slideOutLeft 1s both ease-in;   
}
.page-left.ng-enter    {  
  -webkit-animation:slideInRight 1s both ease-in;
  -moz-animation:slideInRight 1s both ease-in;
  animation:slideInRight 1s both ease-in;    
}
.page-first.ng-leave        {
    -webkit-animation:slideOutLeft 1s both ease-in;
  -moz-animation:slideOutLeft 1s both ease-in;
  animation:slideOutLeft 1s both ease-in;   
}



/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}


/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,0);
}
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5); 
 }

::-webkit-scrollbar-button {
      background-color: rgba(0,0,0,0);
      width: 0px;
      height: 0px;
}
 
::-webkit-scrollbar-corner {
      background-color: rgba(0,0,0,0); 
}

::-webkit-scrollbar {
      width: 7px;
}