body {
  background-color: #eee;
  overflow-x: hidden;
}

#loginBack {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(../src/loginBkg.png);
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1199px) {
  .pagefullViewPort {
    height: calc(100% - 50px);
  }
}
@media screen and (min-width: 1200px) {
  .pagefullViewPort {
    height: calc(100% - 60px);
  }
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.clickable {
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100px;
  border: 1px solid #CCCCCC;
  padding: 5px;
}

.toggled-only {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
}

.top-bar {
  background: #455A64 !important;
}

.top-bar-item {
  float: left;
  top: 20px;
  position: relative;
  font-size: 20px;
  margin-right: 20px;
  color: #FFF;
  line-height: 1;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.sidebar-top-text {
  text-align: center;
  width: 250px;
  text-indent: 0px;
  color: #FFF;
  font-size: 11px;
}

#sidebar-user-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
}

.floating-main {
  float: right;
  margin-bottom: 50px;
}

.page {
  right: 0;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.help-blur {
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.help-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #242424;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.75;
  -webkit-transition: all ease-out 0.25s;
  -ms-transition: all ease-out 0.25s;
  -moz-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}

.help-overlay.ng-hide-add, .help-overlay.ng-hide-remove {
  display: block !important;
}

.help-overlay.ng-hide {
  opacity: 0;
}

.help-highlight {
  border-radius: 300px;
  background: #3cb5ff;
  opacity: 0.5;
  width: 175;
  height: 175;
  position: absolute;
  top: -100px;
  right: -100px;
  border: 2px solid #a5c9df;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: help-highlight;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: help-highlight;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: help-highlight;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@-webkit-keyframes help-highlight {
  0% {
    width: 175;
    height: 175;
  }
  50% {
    width: 200;
    height: 200;
  }
  100% {
    width: 175;
    height: 175;
  }
}
@-moz-keyframes help-highlight {
  0% {
    width: 175;
    height: 175;
  }
  50% {
    width: 200;
    height: 200;
  }
  100% {
    width: 175;
    height: 175;
  }
}
@keyframes help-highlight {
  0% {
    width: 175;
    height: 175;
  }
  50% {
    width: 200;
    height: 200;
  }
  100% {
    width: 175;
    height: 175;
  }
}
.modal-dialog {
  padding-top: 100px;
}

/*# sourceMappingURL=main.css.map */
