<html ng-app="sprox">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>

		<!-- Pace -->
		<script src="bower_components/pace/pace.js"></script>
		<link rel="stylesheet" href="bower_components/pace/pace.css">
		
		<!-- Angular -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300' rel='stylesheet' type='text/css'>

		<!-- ChartJS -->
		<script src="bower_components/Chart.js/Chart.min.js"></script>
		<script src="bower_components/Chart.js/src/Chart.Bar.js"></script>
		<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
		<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

		<!-- FontAwesome -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	  	<!-- Bootstrap -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

		<!-- Bootstrap Theme Material Design -->
	  	<link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.css">
		<link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css">
		<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>

		<!-- Spinkit -->
		<link rel="stylesheet" href="bower_components/spinkit/css/spinkit.css"></link>
		<link rel="stylesheet" href="bower_components/spinkit/css/spinners/7-three-bounce.css"></link>

		<!-- Bootstrap Template RDash -->
		<link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.css"></link>

		<!-- ng-Bootstrap-Material -->
		<script src="bower_components/ng-bootstrap-material/ngBootstrapMaterial.js"></script>
		
		<!-- CryptoJS -->
		<script src="bower_components/cryptojslib/rollups/md5.js"></script>

		<!-- CryptoJS -->
		<script src="bower_components/moment/min/moment.min.js"></script>

		<!-- ngDialog -->
		<script src="bower_components/ngDialog/js/ngDialog.js"></script>
		<link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog.css">
		<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
		<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">

		<!-- ocLazyLoad -->
		<script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>

		<!-- Global CSS -->
	 	<link rel="stylesheet" type="text/css" href="style/main.css">
	 	<link rel="stylesheet" type="text/css" href="style/notes.css">
	 	<link rel="stylesheet" type="text/css" href="style/login.css">
	 	<link rel="stylesheet" type="text/css" href="style/schedule.css">
	 	<link rel="stylesheet" type="text/css" href="style/studentCenter.css">
	 	<link rel="stylesheet" type="text/css" href="style/map.css">
	 	<link rel="stylesheet" type="text/css" href="style/uc.css">
	 	<link rel="stylesheet" type="text/css" href="style/ng-animations.css">

		<!-- Page Controllers -->
		<script src="sprox.js"></script>
		<script src="controllers/loginController.js"></script>
		<script src="controllers/scController.js"></script>
		<script src="controllers/scheduleController.js"></script>
		<script src="controllers/ucController.js"></script>
		<script src="controllers/parkingController.js"></script>
		<script src="controllers/mapController.js"></script>
		<script src="controllers/notesController.js"></script>
		<script src="controllers/clubSearchController.js"></script>
		<script src="controllers/mainController.js"></script>

		<!-- Helper Scripts -->
		<script src="idle.js"></script>
		<script src="config.js"></script>

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#37474f">
		<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<title>Sprox</title>
		<base href="/">
	</head>

  <div id="loginBack"></div>
  <body ng-controller="mainController">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak ng-click="hideNotesPane($event)">

    <!-- Sidebar -->
    <div ng-show="showTopbar" id="sidebar-wrapper" ng-swipe-left="toggleSidebar()" ng-swipe-right="toggleSidebar()" class="noSelect">
      <ul class="sidebar">
        <li class="sidebar-main floating-main">
        	<div id="sidebar-user-icon-container">
        		<div id="sidebar-user-icon">
        			<img ng-src="https://secure.gravatar.com/avatar/{{ userEmail }}?d=identicon&s=50" class="avatar"></img>
        		</div>
        	</div>
        	
            <div class="sidebar-top-text" id="sidebar-username">{{ fullName }}</div>
            <div class="sidebar-top-text toggled-only" id="sidebar-major">{{ major }}</div>
        </li>

        <li class="sidebar-list" id="sc">
          <a href="/sc">Student Center <span class="menu-icon fa fa-pencil"></span></a>
        </li>
        <li class="sidebar-list" id="sh">
          <a href="/sh">Schedule <span class="menu-icon fa fa-calendar-o"></span></a>
        </li>
        <li class="sidebar-list" id="uc">
          <a href="/uc">UCard <span class="menu-icon fa fa-credit-card"></span></a>
        </li>
         <li class="sidebar-list" id="nb">
          <a href="/nb">Notebook <span class="menu-icon fa fa-book"></span></a>
        </li>
        <li class="sidebar-list" id="mp">
          <a href="/mp">Map <span class="menu-icon fa fa-location-arrow"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-12">
          <a href="/logout" target="_self">Logout <span class="menu-icon fa fa-sign-out"></span></a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper" style="overflow-x: hidden">

    <!-- Notes Sidebar -->
    <div id="notesSidebar" ng-show="showNotes" ng-swipe-right="hideNotesPane()">
    	<!-- Note Title -->
    	<div id="notebookTitle" class="noSelect">
    		<i class="fa fa-chevron-left clickable" ng-show="curIsSection" ng-click="notesBack()"></i>
    		<span ng-show="curIsSection" class="noSelect">&nbsp;&nbsp;&nbsp;</span>
    		{{ notebookSection }}
    	</div>

    	<!-- Note items -->
    	<div class="notebookItem noSelect clickable" ng-repeat="item in currentNotebook" sglclick="selectNotesItem(item)" ng-dblclick="notesRenameItem(item)">
    		<i class="fa fa-book" ng-show="!curIsSection"></i>
    		<span ng-show="!curIsSection">&nbsp;&nbsp;&nbsp;</span>
    		<div class="form-group" ng-if="notesRenaming == item">
			    <input ng-model="notesCurRename.val" ng-keypress="notebookRenameItemEnter($event)" focus-on="notesRenaming == item" class="form-control floating-label" ng-blur="notesSaveRename()">
		   	</div>
    		<span ng-if="notesRenaming != item">{{ item }}</span>
    	</div>

    	<!-- Add note button -->
    	<a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised" id="addButton" material-ripple data-ripple=false>
    		<i class="fa fa-plus noSelect clickable" id="addButtonIcon"></i>
    		<div class="ripple-wrapper">		
    	</div></a>
    </div>

      <div class="page-content">
        <!-- Header Bar -->
        <!-- showNotes = !showNotes  to show the notes-->
        <div ng-show="showTopbar" class="top-bar row header">
          <div class="col-xs-12">
          	<div class="user pull-right" ng-show="notes">
              <div class="item dropdown" ng-click="showNotesPane()">
               <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-list"></i>
                </a>
              </div>
            </div>
          	<i class="fa fa-bars top-bar-item" ng-click="toggleSidebar()" class="clickable"></i>
          	<span class="top-bar-item">Sprox</span>
          </div>
        </div>
        <!-- End Header Bar -->
        <div full-viewport="{{ fullscreen }}" class="{{ pageClass }} col-xs-12 view page" ng-view=""></div>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>