@import "app/style/partials/device";
.time-block-50{
	background: blue;
	z-index: 2;
}
.time-block-15 {
	visibility: hidden;
}

@include nonColumnLayout{
	.time-block-15 {
		visibility: hidden;
	}
}
@include columnLayout {
	.time-block-15{
		visibility: hidden;
		height: 0px !important;
	}
	.scheduleClass{
		height: inherit !important;
	}
}
.weekDayHeader{
	height:50px;
	background-color: green;
	text-align: center;
}
.scheduleClasslocation{
	color: #999;
	font-size: 12px;
	text-overflow: ellipsis;
  	width: 100%;
  	display: block;
  	white-space: nowrap;
  	overflow: hidden;

}
.scheduleClassTime{
	text-align: left;
	margin-bottom: 2%;
}
.scheduleClassName{
	font-size: 14px;
	text-overflow: ellipsis;
  	width: 100%;
  	display: block;
  	white-space: nowrap;
  	overflow: hidden;
}
.scheduleFinal {
	 text-align: center;
	 position: relative;
	 background: #B3E5FC;
	 border-radius: 3px;
	 font-size: 10px;
	 overflow: hidden;
	 margin-left: 4px;
	 white-space: nowrap;
}
