@import "app/style/partials/device";

/*
Schedule CSS
Some Classes shared with Student Center's Class's Well.
All tags in this stylesheet start with "sh"
*/

//Desktop
@include nonColumnLayout{
	.shFreeTime {
		visibility: hidden;
	}
	.shTimeName{
		color: #666;
		height: 60px;
		font-family: "Roboto",sans-serif;  
		font-weight: 400;
		text-align: right;
	}
	.shTimebar{
		height: 1px;
		position: absolute;
		width: calc(83.5555% - 30px);
		background-color: #CCC;
		margin-left: 11.2%;
	}
}

//Mobile
@include columnLayout {
	.shFreeTime {
		visibility: hidden;
		height: 0px !important;
	}
	.shClass {
		height: 55px;
	}
	.shTimeName{
		visibility: hidden;
	}
	.shTimeBar{
		visibility: hidden;
	}
}

//Generic
.shWeekDayHeader {
	height:50px;
	background-color: green;
	text-align: center;
}
.shSpacer{
	position: relative;
    float: left;
    width: 3%;
    min-height: 1px;
}
.shClass {
	 text-align: center;
	 position: relative;
	 background: #B2EBF2;
	 border-radius: 3px;
	 color: #DDD;
	 font-family: 'Roboto', sans-serif;
	 font-size: 10px;
	 overflow: hidden;
	 white-space: nowrap;
	 width: 100%;
	 font-weight: 200;
}
.shClasslocation {
	position: absolute;
	bottom: 0;
	font-size: 9px;
	text-overflow: ellipsis;
  	width: 100%;
  	display: block;
  	white-space: nowrap;
  	overflow: hidden;

}
.shClassTime {
	text-align: left;
	margin-bottom: 3px;
	margin-top:	3px;
	margin-left: 5px;
	font-size: 9px;
}
.shClassName {
	font-size: 12px;
	text-overflow: ellipsis;
  	width: 100%;
  	display: block;
  	white-space: nowrap;
  	overflow: hidden;
  	font-weight: 600;
}
.shFinal {
	 text-align: center;
	 position: relative;
	 background: #B3E5FC;
	 border-radius: 3px;
	 font-size: 10px;
	 overflow: hidden;
	 margin-left: 4px;
	 white-space: nowrap;
}
.shDay{
	font-size:12px;
    width: 100%;
    height: 55px;
    color:#CCC;
    text-align: center;
}
.shDayCur{
	color:#000;
	font-size:16px
}	
.shBorderFirst{
	border-left: 2px solid #CCC;
}
.shBorder{
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}
.shFirstTime{
	margin-top:45px;
}

