<html ng-app="sprox">
	<head>
		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>

		<!-- Angular -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>


	  	<!-- Bootstrap -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Bootstrap Theme -->
	  	<link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.css">
		<link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css">
		<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
		<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>

		<!-- ng-Bootstrap-Material -->
		<script src="bower_components/ng-bootstrap-material/ngBootstrapMaterial.js"></script>

		<!-- Directives for working with bootstrap and or the theme -->
		<script src="bootstrapDirectives.js"></script>

		<!-- CryptoJS -->
		<script src="bower_components/cryptojslib/rollups/md5.js"></script>

		<!-- Global CSS -->
	 	<link rel="stylesheet" type="text/css" href="style/main.css">
	 	<link rel="stylesheet" type="text/css" href="style/login.css">
	 	<link rel="stylesheet" type="text/css" href="style/studentCenter.css">

		<!-- ngDialog -->
		<script src="bower_components/ngDialog/js/ngDialog.js"></script>
		<link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog.css">
		<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
		<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">

		<!-- ocLazyLoad -->
		<script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>

		<!-- Page Controllers -->
		<script src="sprox.js"></script>
		<script src="controllers/loginController.js"></script>
		<script src="controllers/scController.js"></script>
		<script src="controllers/scheduleController.js"></script>
		<script src="controllers/ucController.js"></script>
		<script src="controllers/parkingController.js"></script>
		<script src="controllers/mapController.js"></script>
		<script src="controllers/notesController.js"></script>
		<script src="controllers/clubSearchController.js"></script>
		<script src="controllers/mainController.js"></script>

		<!-- Helper Scripts -->
		<script src="idle.js"></script>
		<script src="config.js"></script>

		<!-- Favicons -->
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/favicons/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#00a300">
		<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="/favicons/browserconfig.xml">

		<title>Sprox</title>
		<base href="/">
	</head>

	<body ng-controller="mainController">
	<div ng-show="showTopbar" class="navbar navbar-default">
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>
        	<a id="sproxLogo" class="pull-left" href="javascript:void(0)">
        		<img class="img-responsive" src="src/whiteicon.png">
        	</a>
   		</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li id="{{ tab.path }}" material-ripple-navigation data-ripple=false ng-click="clickTab(tab.path)" ng-show="showTab(tab.dev)" ng-repeat="tab in tabs"><a href="javascript:void(0)">{{ tab.title }}</a></li>

        </ul>
        <form ng-show="" class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{studentName}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </li>
        </ul>
    </div>
	</div>
		<div class="{{ pageClass }} view" ng-view></div>
	</body>
</html>